body {
  margin: 0;
  background-color: white;
}

#particles {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, #e9abff 24%, #43a5ff 100%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-transform: uppercase;
}

.credit-card {
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  background: linear-gradient(to bottom, #002654 0%, #000020 100%);
  box-shadow: 0px 0px 15px 0px #1B6B94;
  border: 0;
  padding: 20px;
}

#card-number {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
  margin: 20px;
}

.text-input {
  padding: 15px;
  box-shadow: 0;
  border: 0;
  font-size: 20px;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  outline: none;
}
