body {
  margin: 0;
  background-color: white;
  font-weight: 200;
}

#particles {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #b149ff 0%, #00ffff 100%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-transform: uppercase;
}

.credit-card {
  width: 390px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  background: linear-gradient(to bottom, #002654 0%, #000020 100%);
  box-shadow: 0px 0px 15px 0px #1B6B94;
  border: 0;
  padding: 20px;
}

#card-number {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 435px;
}

.text-input {
  padding: 15px;
  box-shadow: 0;
  border: 0;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
  margin:5px;
}

.input-label {
  font-size:15px;
  margin-top:10px;
  margin-left: 10px;
}
